<div class="container m-auto">
    <div><h4 *ngIf="isLoading">Loading...</h4></div>
    <div class="row">
        <div class="offset-4 col-md-5">
            <div class="card p-4 mt-3">
                <h2 class="text-center heading">Forgot Password</h2>
            <form>
                <div *ngIf="!isOtpSended" class="form-group my-3">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Enter email.." >
                </div>

                <div *ngIf="isOtpSended && !isOtpVerified" class="form-group my-3">
                    <label for="otp">OTP</label>
                    <input type="number" id="otp" name="otp" [(ngModel)]="otp" class="form-control" placeholder="Enter otp.." >
                </div>

                <div *ngIf="isOtpSended && isOtpVerified" class="form-group my-3">
                    <label for="password">Password</label>
                    <input type="text" id="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Enter password.." >
                </div>
                <div *ngIf="isOtpSended && isOtpVerified"  class="form-group my-3">
                    <label for="c_password">Confirm Password</label>
                    <input type="text" id="c_password" name="c_password" [(ngModel)]="c_password" class="form-control" placeholder="Enter confirm password.." >
                </div>
                <button class="btn btn-secondary w-100 d-block" *ngIf="!isOtpSended" (click)="sendOtp()" >Send Otp</button>
                <button class="btn btn-secondary w-100 d-block" *ngIf="isOtpSended && !isOtpVerified" (click)="verifyOtp()">Verify Otp</button>
                <button class="btn btn-secondary w-100 d-block" *ngIf="isOtpSended && isOtpVerified" (click)="handleForgotPassword()">Forgot Password</button>
                <a class="link d-flex justify-content-end" routerLink="/register">Sign Up</a>
            </form>
            </div>
        </div>
    </div>
</div>